*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;	
}
html, body, form {
	height: 100%;
}
#files {
	display: none;
}
#imgBox {
	left:15px;
	
	margin-top: 20px;
	margin-left: 20px;
	
	display: flex;
	height: 100%;

	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
	overflow-x: scroll;
}
#photoButton {
	width: 20vh;
	height: 100px;
	margin: 15px 15px;
	
	display: inline-block;
	
	border: 5px dotted green;
	border-radius: 10%;
	transition: 0.3s;
}
#photoButton:hover {
	transform: scale(1.05);
	cursor: pointer;
}
#photoButton img {
	display: inline-block;
	position: relative;
	
	width: 20px;
	height: 20px;
	
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	
	border-radius: 50%;
	transition: 0.3s;
}
.imgSmallBox {
	position: relative;
	margin-right: 20px;
	
	height: 80px;
	
	left:0;
	box-shadow: 2px 2px 10px 3px grey;
	z-index: 999;
}
.imgSmallBox:hover {
	cursor: pointer;
}
.imgSmallBox .xButton {
	z-index: 99;
	display: inline-block;
	position: absolute;
	left: 5px;
	top: 5px;
	width: 17px;
	height: 17px;
	
	border-radius: 50%;
	cursor: pointer;
	
	transition: 0.1s;
}

.imgSmallBox .xButton:hover {
	transform: scale(1.15);
}

.imgSmallBox .preview {
	position:relative;
	height: 80px;
}
#mainContainer {
	width: 90%;
	height: 80%;
/* position: relative 주면 이미지 드래그 이상하게 됨 */
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: nowrap;
	
/* 	bottom: 0; */
}
#mainContainer #pageContainer{
	width: 80%;
	height: 100%;
	
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: nowrap;
} 
.pages{
	width:48%;
	height:100%;
	
	/* position: relative 주면 이미지 드래그 이상하게 됨 */
	
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	flex-wrap: nowrap;
}
.pages .albumBox {
	width: 200px;
	height: 150px;
	/* position: relative 주면 이미지 드래그 이상하게 됨 */
	
	background-color: beige; 
}

#mainContainer #informationContainer {
	width: 20%;
	height: 75%;
	margin-top: 5%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
} 

#mainContainer #informationContainer #buttonBox {
	width: 60%;
	height: 22%;
	margin-bottom:10px;
	
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	flex-wrap: nowrap;
}
#mainContainer #informationContainer #buttonBox button {
	width: 80%;
	height: 45%;
	transition: 0.1s;
	background-color: white;
	border-radius: 5%;
	box-shadow: 0px 0px 2px green;
	transition: 0.3s;
}
#mainContainer #informationContainer #buttonBox button:hover {
	transform: scale(1.05);
	box-shadow: 0px 0px 3px green;
	cursor: pointer;
	background-color: green;
	color: white;
}
#mainContainer #informationContainer #buttonBox button:active {
	transform: scale(1.2);
	box-shadow: 0px 0px 50px green;
}
#mainContainer #informationContainer #buttonBox .restButton {
	opacity: 0;
}
#mainContainer #informationContainer #buttonBox .restButton:hover {
	cursor: default;
}
#mainContainer #informationContainer #pageBox {
	height: 3%;
	margin-bottom:10px;
	
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	flex-wrap: nowrap;
	
	color: green;
}
#mainContainer #informationContainer #pwdBox {
	width: 100%;
	height: 30%;
	padding: 2%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	flex-wrap: nowrap;
	
	border: 2px solid green;
}
#mainContainer #informationContainer #pwdBox span {
	font-size: 15px;
	font-weight: 900;
	color: green;
}
#mainContainer #informationContainer #pwdBox #radioBox {
	width:100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: nowrap;
}
#mainContainer #informationContainer #pwdBox #radioBox label {
	color: green;
}
#mainContainer #informationContainer #pwdBox #radioBox div {
	width: 45%;	
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
}
#mainContainer #informationContainer #pwdBox #radioBox div input:first-child{
	margin-right: 20px;
	font-size: 15px;
	font-weight: 900;
}
#mainContainer #informationContainer #pwdBox #pwd {
	width: 85%;
	font-size: 10px;
	padding: 2% 1%;
	color: green;
	text-align: center;
	border: 0.5px solid #7CCE76;
}
#mainContainer #informationContainer #nameBox {
	width: 100%;
	height: 30%;
	padding: 2%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	flex-wrap: nowrap;
	
	border: 2px solid green;
}
#mainContainer #informationContainer #nameBox span {
	font-size: 15px;
	font-weight: 900;
	color: green;
}
#mainContainer #informationContainer #nameBox #albumName {
	width: 85%;
	font-size: 10px;
	padding: 2% 1%;
	color: green;
	text-align: center;
	border: 0.5px solid #7CCE76;
}
#mainContainer #informationContainer #nameBox button {
	width: 30%;
	font-size: 13px;
	font-weight: bold;
	padding: 1% 3%;
	color: green;
	text-align: center;
	border: 0.5px solid #7CCE76;
	background-color: #fff;
	transition: 0.1s;
}
#mainContainer #informationContainer #nameBox button:hover {
	tranform: scale(1.03);
	color: #1A7913;
	background-color: #BCFFB5;
	cursor: pointer;
}
.pages .restBox {
	display: none;
}


