*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;	
}
html, body {
	height: 100%;
}
#mainContainer {
	width: 100%;
	height: 80%;
/* position: relative 주면 이미지 드래그 이상하게 됨 */
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-itmes: center;
	flex-wrap: nowrap;
	
	bottom: 0;
}
.pages{
	width:48%;
	height:100%;
	
	/* position: relative 주면 이미지 드래그 이상하게 됨 */
	
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	align-itmes: center;
	flex-wrap: nowrap;
}
.pages .albumBox {
	width: 200px;
	/* height: 150px; */
	/* position: relative 주면 이미지 드래그 이상하게 됨 */
	
	background-color: beige; 
}

.pages .albumBox img{
	width:100%;
}

.pages .restBox{
	display: none;
}
.restButton{
	display: none;
}
#restBoxs {
	display: none;
}
