* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;	
}
html, body {
	height: 100%;
}
#background_container {
	width: 100%;
	height: 100%;
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
#pwd_container {
	position: absolute;
	z-index: 1400;
}
#pwd_container #pwd_button {
}
#pwd_container #pwd_button:hover {
	cursor: pointer;
} 
#main_container {
	width: 60%;
	height: 80%;
	position: relative;
	bottom: 0;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: nowrap;
	background-color: #ff8040;
	border: 2px solid black;	
	border-radius: 1.5%;
	
	opacity: 0;
}
#page_container {
	width: 100%;
	height: 100%;
	
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
#button_page_container {
	position: absolute;
	left: 3%;
	top: 3%;
}
.pages {
	width:48%;
	height:100%;
	/* position: relative 주면 이미지 드래그 이상하게 됨 */
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	flex-wrap: nowrap;
}
.left_page {
	border-right: 2px solid black;
}
.right_page {
	border-left: 2px solid black;	
}

.pages .album_box {
	height:30%;
	padding: 6px;
	background-color: white; 
	box-shadow: 0px 0px 2px 0.5px lightgrey;
}
.pages .album_box img {
	height:100%;
	box-shadow: 0px 0px 2px 0.5px lightgrey;
}
.pages .rest_box {
	display: none;
}
.rest_button {
	display: none;
}
#rest_boxs {
	display: none;
}
